# Unit 19. 중첩(Nested) for loop

In [1]:
for i in range(5):
  for k in range(10, 60, 10):
    print(k, end=' ')
  print(i)

10 20 30 40 50 0
10 20 30 40 50 1
10 20 30 40 50 2
10 20 30 40 50 3
10 20 30 40 50 4

## 19.2 별 사각형

In [10]:
for i in range(4):
  print(' ' * i, '*'*5, sep='')

*****
 *****
  *****
   *****

## 19.3 계단식 별 모양 다이아몬드 별모양

In [ ]:
for i in range(5):
  print('*' * (i + 1))

In [11]:
for i in range(5):
  for _ in range(i+1):
    print('*', end='')
  print()

*
**
***
****
*****

In [14]:
for i in range(5):
  for _ in range(i):
    print(' ', end='')
  for _ in range(5-i):
    print('*', end='')
  print()

*****
 ****
  ***
   **
    *

In [18]:
for i in range(5):
  print('*' * (i+1))

*
**
***
****
*****

In [22]:
for i in range(5):
  print(' ' * i, '*' * (5-i), sep='')

*****
 ****
  ***
   **
    *

In [32]:
for i in range(5):
  for _ in range(4-i):
    print(' ', end='')
  for _ in range(2*i+1):
    print('*', end='')
  print()
for i in range(4):
  for _ in range(i):
    print(' ', end='')

    *
   ***
  *****
 *******
*********

In [33]:
for i in range(5):
  for _ in range(4-i):
    print(' ', end='')
  for _ in range(2*i+1):
    print('*', end='')
  print()

for i in range(4):
  for _ in range(i+1):
    print(' ', end='')
  for _ in range(7-2*i):
    print('*', end='')
  print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [35]:
for i in range(5):
  print(' '*(4-i), '*'*(2*i+1))
for i in range(4):
  print(' '*(i+1), '*'*(7-2*i))

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [36]:
for i in range(-4, 5):
  print(' ' * (abs(i)), '*'*(-2*abs(i)+9), sep='')

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *