# Unit 8. 불과 비교, 논리 연산자

## 8.4 연습문제: 합격 여부 출력하기
국어, 영어, 수학, 과학 점수가 있을 때 한 과목이라도 50점 미만이면 불합격이라고 정했습니다. 다음 소스 코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요.

In [1]:
korean = 92
english = 47
mathematics = 86
science = 81

print((korean >= 50) and (english >= 50) and (mathematics >= 50) and (science >= 50) )

False

In [2]:
print(all([x >= 50 for x in [korean, english, mathematics, science]]))

False

## 8.5 심사문제: 합격 여부 출력하기
표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 국어는 90점 이상, 영어는 80점 초과, 수학은 85점 초과, 과학은 80점 이상일 때 합격이라고 정했습니다(한 과목이라도 조건에 만족하지 않으면 불합격). 다음 소스 코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [5]:
kor, eng, mat, sci = map(int, input('국어, 영어, 수학, 과학 점수를 입력하세요> ').split(' '))
kor_pass = kor >= 90
eng_pass = eng > 80
mat_pass = mat > 85
sci_pass = sci >= 80

print(all([kor_pass, eng_pass, mat_pass, sci_pass]))

True

In [6]:
kor, eng, mat, sci = map(int, input('국어, 영어, 수학, 과학 점수를 입력하세요> ').split(' '))
kor_pass = kor >= 90
eng_pass = eng > 80
mat_pass = mat > 85
sci_pass = sci >= 80

print(all([kor_pass, eng_pass, mat_pass, sci_pass]))

False

# Unit 9. 문자열 사용하기

## 9.3 연습문제: 여러 줄로 된 문자열 사용하기

In [7]:
a = """Python is a progrmming language that lets you work quickly
and
integrate systems more effectively."""

print(a)

Python is a progrmming language that lets you work quickly
and
integrate systems more effectively.

## 9.4 심사문제: 여러 줄로 된 문자열 사용하기

In [8]:
s = """\'Python is a \"programming language\"
that lests you work quickly
and
integrate systems more effectively."""

print(s)

'Python is a "programming language"
that lests you work quickly
and
integrate systems more effectively.

# Unit 10. 리스트와 튜플

## 10.4 연습문제: range로 리스트 만들기
다음 소스 코드를 완성하여 리스트 [5, 3, 1, -1, -3, -5, -7, -9]가 출력되게 만드세요. 리스트를 만들 때는 range를 사용해야 합니다.

In [9]:
a = range(5, -10, -2)
print(list(a))

[5, 3, 1, -1, -3, -5, -7, -9]

## 10.5 심사문제: range로 튜플 만들기
표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [19]:
step = int(input())
print(list(range(-10, 10, step)))

2
[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [20]:
step = int(input())
print(list(range(-10, 10, step)))

3
[-10, -7, -4, -1, 2, 5, 8]

# Unit 11. 시퀀스

## 11.6 연습문제: 최근 3년간 인구 출력하기
리스트 year에 연도, population에 서울시 인구수가 저장되어 있습니다. 다음 소스 코드를 완성하여 최근 3년간 연도와 인구수가 리스트로 출력되게 만드세요.

In [21]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

## 11.7 연습문제: 인덱스가 홀수인 요소 출력하기
다음 소스 코드를 완성하여 튜플 n에서 인덱스가 홀수인 요소들이 출력되게 만드세요.

In [22]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
print(n[1::2])

(75, -10, 32, -15, 76, 2)

## 11.8 심사문제: 리스트의 마지막 부분 삭제하기
표준 입력으로 숫자 또는 문자열 여러 개가 입력되어 리스트 x에 저장됩니다(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음). 다음 소스 코드를 완성하여 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.

In [25]:
x = input().split()
x = tuple(x[:-5])
print(x)

1 2 3 4 5 6 7 8 9 0
('1', '2', '3', '4', '5')

## 11.9 심사문제: 문자열에서 인덱스가 홀수인 문자와 짝수인 문자 연결하기
표준 입력으로 문자열 두 개가 각 줄에 입력됩니다(문자열의 길이는 정해져 있지 않음). 첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다. 그리고 0은 짝수로 처리합니다.

In [26]:
x = input('첫번째 문자열을 입력하세요> ')
y = input('두번째 문자열을 입력하세요> ')
x = x[1::2]
y = y[::2]
combined = x + y
print(combined)

첫번째 문자열을 입력하세요> python
두번째 문자열을 입력하세요> python
yhnpto

In [27]:
x = input('첫번째 문자열을 입력하세요> ')
y = input('두번째 문자열을 입력하세요> ')
x = x[1::2]
y = y[::2]
combined = x + y
print(combined)

첫번째 문자열을 입력하세요> apple
두번째 문자열을 입력하세요> strawberry
plsrwer

# Unit 12. 딕셔너리

## 12.4 연습문제: 딕셔너리에 게임 캐릭터 능력치 저장하기
다음 소스 코드를 완성하여 게임 캐릭터의 체력(health)과 이동 속도(movement speed)가 출력되게 만드세요.

In [37]:
camille = {
    'health': 575.6,
    'health_regen': 1.7,
    'mana': 338.8,
    'mana_regen': 1.63,
    'melee': 125,
    'attack_damage': 60,
    'attack_speed': 0.625,
    'armor': 26,
    'magic_resistance': 32.1,
    'movement_speed': 340}

print(camille.get('health', None))
print(camille.get('movement_speed', None))

575.6
340

## 12.5 심사문제: 딕셔너리에 게임 캐릭터 능력치 저장하기
표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요. input().split()의 결과를 변수 한 개에 저장하면 리스트로 저장됩니다.

In [38]:
keys = input('문자열들을 입력하세요> ').split()
values = map(float, input('숫자들을 입력하세요> ').split())
my_dict = dict(zip(keys, values))
print(my_dict)

문자열들을 입력하세요> health health_regen mana mana_regen
숫자들을 입력하세요> 575.6 1.7 338.8 1.63
{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

In [39]:
keys = input('문자열들을 입력하세요> ').split()
values = map(float, input('숫자들을 입력하세요> ').split())
my_dict = dict(zip(keys, values))
print(my_dict)

문자열들을 입력하세요> health mana melee attack_speed magic_resistance
숫자들을 입력하세요> 573.6 308.8 600 0.625 35.7
{'health': 573.6, 'mana': 308.8, 'melee': 600.0, 'attack_speed': 0.625, 'magic_resistance': 35.7}

# Unit 13. if 조건문

## 13.6 연습문제: if 조건문 사용하기
다음 소스 코드를 완성하여 x의 값이 10이 아닐 때 'ok'가 출력되게 만드세요.

In [40]:
x = 5
if x != 10:
  print('ok')

ok

## 13.7 심사문제: 온라인 할인 쿠폰 시스템 만들기
표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다. 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [42]:
price = int(input())
name = input()
dc_price = price - int(name[4:])
print(dc_price)

27000
Cash3000
24000

In [43]:
price = int(input())
name = input()
dc_price = price - int(name[4:])
print(dc_price)

72000
Cash5000
67000

# Unit 14. else

## 14.7 심사문제: 합격 여부 판단하기
표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 여기서 네 과목의 평균 점수가 80점 이상일 때 합격이라고 정했습니다. 평균 점수에 따라 '합격', '불합격'을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 점수는 0점부터 100점까지만 입력받을 수 있으며 범위를 벗어났다면 '잘못된 점수'를 출력하고 합격, 불합격 여부는 출력하지 않아야 합니다.

In [50]:
kor, eng, mat, sci = map(int, input().split())
avg_score = (kor + eng + mat + sci) / 4

if all( 0 <= score <= 100 for score in [kor, eng, mat, sci]):
  if avg_score >= 80.0:
    print('합격')
  else:
    print('불합격')
else:
  print('잘못된 점수')

89 72 93 82
합격

In [51]:
kor, eng, mat, sci = map(int, input().split())
avg_score = (kor + eng + mat + sci) / 4

if all( 0 <= score <= 100 for score in [kor, eng, mat, sci]):
  if avg_score >= 80.0:
    print('합격')
  else:
    print('불합격')
else:
  print('잘못된 점수')

100 79 68 71
불합격

In [52]:
kor, eng, mat, sci = map(int, input().split())
avg_score = (kor + eng + mat + sci) / 4

if all( 0 <= score <= 100 for score in [kor, eng, mat, sci]):
  if avg_score >= 80.0:
    print('합격')
  else:
    print('불합격')
else:
  print('잘못된 점수')

99 85 101 90
잘못된 점수