- a + b + c = 1000 (a < b < c)
- a*a + b*b = c*c 인 피타고라스 수는?

### pseudo code
- 가장 작은 수인 a가 outer loop(for a in range(1000)
- 그 다음 크기 수인  b가 중간 loop(for b in range(a+1, 1000)
- 가장 큰 수인 c가 inner loop(for c in range(b+1, 1000)
- if a + b + c == 1000 and a*a + b*b == c*c
-  printt(a, b, c)

In [ ]:
for a in range(1, 1001):
  for b in range(a+1, 1001):
    for c in range(b+1, 1001):
      if (a+b+c == 1000) and (a*a + b*b == c*c):
        print(a, b, c)

200 375 425

In [ ]:
200**2 + 375 ** 2, 425 ** 2

(180625, 180625)

In [ ]:
pythagorian_sides = [(a, b, c) for a in range(1, 1001) for b in range(a+1, 1001) for c in range(b+1, 1001) if (a+b+c == 1000) and (a*a + b*b == c*c)]
print(pythagorian_sides)
a, b, c = tuple(pythagorian_sides[0])
print(a, b, c)
print(a*a + b*b, c*c)

[(200, 375, 425)]
200 375 425
180625 180625

In [ ]:
[(a, b, c) for a in range(1, 333)
               for b in range(a+1, 500)
                   for c in range(b+1, 1000)
                       if (a+b+c==1000) and ((a**2)+(b**2)==(c**2))]

[(200, 375, 425)]

## 본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아오늘 날짜의 만 - 나이를 구하는 프로그램을 작성하시오.

In [ ]:
from datetime import date
today = date.today()

birth_date = map(int, input('생일입력').split())
year, month, day = tuple(birth_date)

if year > today.year:
    print('생일을 잘못 입력하셨습니다.')
elif (year == today.year) and (month > today.month):
    print('생일을 잘못 입력하셨습니다.')
elif (year == today.year) and (month == today.month) and (day > today.day):
    print('생일을 잘못 입력하셨습니다.')
elif ((year == today.year) and (month < today.month)) or ((year == today.year) and (month == today.month) and (day <= today.day)):
    eng_age = today.year - year
    print(f'당신의 만나이는 {eng_age:>3d}살 입니다.')
elif ((year < today.year) and (month < today.month)) or ((year < today.year) and (month == today.month) and (day <= today.day)):
    eng_age = today.year - year
    print(f'당신의 만나이는 {eng_age:>3d}살 입니다.')
elif ((year < today.year) and (month > today.month)) or ((year < today.year) and (month == today.month) and (day > today.day)): 
    eng_age = today.year - year -1
    print(f'당신의 만나이는 {eng_age:>3d}살 입니다.')

1917 8 14
당신의 만나이는 103살 입니다.

## 디지털 시계에 하루동안(00:00 - 23:59) 3이 표시되는 시간을 초로 - 환산하면 총 몇 초(second) 일까요?- 디지털 시계는 하루동안 다음과 - 같이 시:분(00:00 - 23:59)으로 표시됨.

In [ ]:
"""pseudo code
문자열 ab:cd의 범위가 a(0~2), b(0~3), c(0~5), d(0~9)를 a를 시작으로 for loop을 한다.
시계에 3이 표시될 수 있는 경우들은 (b==3,c==3, d==3), (b==3, c==3, d!=3), (b==3, c!=3, d==3), (b==3, c!=3, d!=3), (b!=3, c==3, d==3), (b!=3, c==3, d!=3), (b!=3, c!=3, d==3)로서 7개이다.
시간을 초수로 변경하는 변수를 0으로 초기화하고 각각의 경우에 시간들을 초수로 환산해서 변수를 증가시킨다.
"""

hour_0 = list(map(str, range(3)))
hour_1 = list(map(str, range(4)))
minute_0 = list(map(str, range(6)))
minute_1 = list(map(str, range(10)))
one_day = []
for h0 in hour_0:
    for h1 in hour_1:
        for m0 in minute_0:
            for m1 in minute_1:
                one_day.append(h0 + h1 + ':' + m0 + m1)

all_threes = 0
for x in one_day:
    x = x.replace(':', '')
    into_secs = 0
    if '3' in x:
        x = list(map(int, x))
        into_secs = x[0] * 36000 + x[1] * 3600 + x[2] * 600 + x[3] * 60
        all_threes += into_secs

print(all_threes)

14347800

In [ ]:
all_threes = 0
for x in ['02:33', '01:24', '12:45', '15:23']:
    x = x.replace(':', '')
    into_secs = 0
    if '3' in x:
        x = list(map(int, x))
        into_secs = x[0] * 36000 + x[1] * 3600 + x[2] * 600 + x[3] * 60
        all_threes += into_secs
        print(x, type(x))

print(all_threes)

[0, 2, 3, 3] <class 'list'>
[1, 5, 2, 3] <class 'list'>
64560

In [ ]:
hour_0 = list(map(str, range(3)))
hour_1 = list(map(str, range(4)))
minute_0 = list(map(str, range(6)))
minute_1 = list(map(str, range(10)))
one_day = []
for h0 in hour_0:
    for h1 in hour_1:
        for m0 in minute_0:
            for m1 in minute_1:
                one_day.append(h0 + h1 + ':' + m0 + m1)


all_threes = 0
for x in ['02:33', '01:24', '12:45', '15:23']:
    x = x.replace(':', '')
    into_secs = 0
    if '3' in x:
        x = list(map(int, x))
        into_secs = x[0] * 36000 + x[1] * 3600 + x[2] * 600 + x[3] * 60
        all_threes += 60
        print(x, type(x))

print(all_threes)

[0, 2, 3, 3] <class 'list'>
[1, 5, 2, 3] <class 'list'>
120

In [ ]:
print(one_day[:10], one_day[-10:])

for x in ['0300', '02:14', '01:13']:
    if '3' in x:
        print(x, end=' ')

a, b = map(int, ['4', '3'])
print(a, b)

'02:57'.replace(':', '')

for x in map(int, '0331'):
    print(x, end=', ')
print()

a = list(map(int, '35'))
print(a[0]*20 + a[1]*10)

['00:00', '00:01', '00:02', '00:03', '00:04', '00:05', '00:06', '00:07', '00:08', '00:09'] ['23:50', '23:51', '23:52', '23:53', '23:54', '23:55', '23:56', '23:57', '23:58', '23:59']
0300 01:13 4 3
0, 3, 3, 1,
110

## u13. 선생님

In [1]:
# 27000 / Cash3000
price = int(input())
coupon = input()
if coupon == 'Cash3000':
    print(price - 3000)
if coupon == 'Cash5000':
    print(price - 5000)

27000
Cash3000
24000

In [2]:
# 72000 / Cash5000
price = int(input())
coupon = input()
if coupon == 'Cash3000':
    print(price - 3000)
if coupon == 'Cash5000':
    print(price - 5000)

72000
Cash5000
67000

## u14. 선생님

In [3]:
# 89 72 93 82
score = list(map(int, input().split()))
if min(score) < 0 or max(score) > 100:
    print('잘못된 점수')
else:
    avg = sum(score) / len(score)
    if avg >= 80:
        print('합격')
    else:
        print('불합격')

89 72 93 82
합격

## 15.4 심사문제: 교통카드 시스템 만들기
표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.

어린이(초등학생, 만 7세 이상 12세 이하): 650원
청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원
어른(일반, 만 19세 이상): 1,250원

In [ ]:
age = int(input('나이입력'))
balance = 9000

if 7 <= age <= 12:
  balance -= 650
elif 13 <= age <= 18:
  balance -= 1050
elif age >= 19:
  balance -= 1250

print(balance)

17
7950

In [ ]:
age = int(input())
balance = 9000

if 7 <= age <= 12:
  balance -= 650
elif 13 <= age <= 18:
  balance -= 1050
elif age >= 19:
  balance -= 1250

print(balance)

## 16.6 심사문제: 구구단 출력하기
표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 출력 형식은 숫자 * 숫자 = 숫자처럼 만들고 숫자와 *, = 사이는 공백을 한 칸 띄웁니다.

In [ ]:
num = int(input())

for i in range(1, 10):
  print(str(num) + ' * ' + str(i) + ' = ' + str(num * i))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
num = int(input())

for i in range(1, 10):
  print(str(num) + ' * ' + str(i) + ' = ' + str(num * i))

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [4]:
# 선생님 풀이

n = int(input())
for i in range(1,10):
    print(f'{n} * {i} = {n*i}')

8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

## 17.6 심사문제: 교통카드 잔액 출력하기
표준 입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350원이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

In [ ]:
init_bal = int(input())
i = 1
while True:
  if init_bal >= 0:
    init_bal -= 1350
    if init_bal >= 0:
      print(init_bal)
    i += 1
  else:
    break

10000
8650
7300
5950
4600
3250
1900
550

In [5]:
# 선생님 풀이
balance = int(input())

fare = 1350
while balance-fare >= 0 :
    balance -= fare
    print(balance)

10000
8650
7300
5950
4600
3250
1900
550

### 객체지향방식

In [6]:
class Tmoney:
    def __init__(self, balance):
        self.balance = balance

    def pay(self, fare):
        if self.balance > fare :
            self.balance -= fare
            print(f'남은 잔액은 {self.balance}원 입니다.')
        else : 
            print('지불 불가')

In [7]:
balance = int(input())
fare = 1350
card = Tmoney(balance)

while True :
    if card.balance <= fare :
        break
    card.pay(fare)

10000
남은 잔액은 8650원 입니다.
남은 잔액은 7300원 입니다.
남은 잔액은 5950원 입니다.
남은 잔액은 4600원 입니다.
남은 잔액은 3250원 입니다.
남은 잔액은 1900원 입니다.
남은 잔액은 550원 입니다.

In [ ]:
init_bal = int(input())
i = 1
while True:
  if init_bal >= 0:
    init_bal -= 1350
    if init_bal >= 0:
      print(init_bal)
    i += 1
  else:
    break

13500
12150
10800
9450
8100
6750
5400
4050
2700
1350
0

## 18.6 심사문제: 두 수 사이의 숫자 중 3으로 끝나지 않는 숫자 출력하기
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1-200, 두 번째 입력 값의 범위는 10-200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요. 정답에 코드를 작성할 때는 while True:에 맞춰서 들여쓰기를 해주세요.

In [ ]:
start, stop = map(int, input().split())
i = start

while True:
    if (i+1) % 10 == 3:





    print(i, end=' ')
    i += 1

In [8]:
# 선생님 풀이
x, y = list(map(int, input().split()))
while True:
    if x > y:
        break
    if x % 10 == 3:
        x += 1
        continue
    print(x, end='  ')
    x += 1

100 115
100  101  102  104  105  106  107  108  109  110  111  112  114  115