# Unit 23. 2차원 리스트

## 23.1 생성 및 인덱싱

In [1]:
a = [[10,20],[30,40],[50,60]]
a

[[10, 20], [30, 40], [50, 60]]

In [2]:
# a[행인덱스][열인덱스]
a[1][0]

30

In [4]:
a[1][-1] = 100
a

[[10, 20], [30, 100], [50, 60]]

In [5]:
import numpy as np
b = np.arange(16).reshape(4,4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [8]:
b[1,1], b[1:-1, 1:-1] # 이런것들이 리스트에서는 안된다. 2차원 리스트는 그래서 잘안쓴다.

(5, array([[ 5,  6],
        [ 9, 10]]))

In [11]:
# 톱니형 리스트
a = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]

a

[[10, 20], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

In [13]:
a = []   # 2차원 리스트를 만들려면 2개의 빈리스틀 for loop을 이용해서 돌려야 한다.
for i in range(4):
    t = []
    for k in range(4):
        t.append(i*4 + k)
    a.append(t)
a

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [18]:
[[i*4+k for k in range(4)] for i in range(4)]

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [14]:
from pprint import pprint
pprint(a, indent=4, width=30)

[   [0, 1, 2, 3],
    [4, 5, 6, 7],
    [8, 9, 10, 11],
    [12, 13, 14, 15]]

##23.2 for 반복문 사용

In [19]:
for row in a:
    print(row)

[0, 1, 2, 3]
[4, 5, 6, 7]
[8, 9, 10, 11]
[12, 13, 14, 15]

In [22]:
for row in a:
    for element in row:
        print(f'{element:2d}', end=' ')
    print()

 0  1  2  3
 4  5  6  7
 8  9 10 11
12 13 14 15

In [24]:
for w,x,y,z in a:   # 리스트 언팩킹이 발생했다
    print(w, x, y, z)

0 1 2 3
4 5 6 7
8 9 10 11
12 13 14 15

In [25]:
for w,x,y,z in a:
    print(f'{w:2d}(x:2d}{y:2d}{z:2d}')

SyntaxError: ignored

In [27]:
for w,x,y,z in a:
    print(f'{w:2d}, {x:2d}, {y:2d}, {z:2d}')

 0,  1,  2,  3
 4,  5,  6,  7
 8,  9, 10, 11
12, 13, 14, 15

## 23.3 반복문으로 리스트 만들기

In [30]:
a = [[0 for _ in range(2)] for _ in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [31]:
a = [[0] * 2 for _ in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [32]:
num = [3, 1, 3, 2, 5]
b = []
for i in num:
    line = []
    for _ in range(i):
        line.append(0)
    b.append(line)

b

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [35]:
[[0] * i for i in num]

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

## 23.3 2차원 리스트의 할당과 복사

In [39]:
a = [[10, 20], [30, 40]]
b = a  # 각각의 행들의 reference만 복사하니까 같은 객체를 포인팅한다
b[0][0] = 500
print(a)
print(b)

[[500, 20], [30, 40]]
[[500, 20], [30, 40]]

In [38]:
# 2차원일 경우에는 deepcopy를 사용해야 한다. 리스트안에 또 다시 리스트가 있으니까 한번만 copy해서는 안된다
a = [[10, 20], [30, 40]]
import copy
b = copy.deepcopy(a)
b[0][0] = 500
print(a)
print(b)

[[10, 20], [30, 40]]
[[500, 20], [30, 40]]