# Unit 29.함수

## 29.1 함수 만들기

In [1]:
def hello():
    print('Hello, world!')

In [2]:
hello()

Hello, world!

In [3]:
def hello():
    pass        # pass를 안하면 계속해서 반복한다

## 29.2 덧셈 함수

In [4]:
def add(a, b):  # a, b : argument, parameter(매개변수)
    print(a + b)

In [5]:
add(3.5, 4.7)

8.2

In [6]:
# Docstrings : 함수를 설명해주는 글
# Signature : 함수명(매개변수)
def add(a, b): 
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    print(a + b)

In [8]:
# 도움말 호출 class에도 동일하게 사용된다
add?

## 29.3 결과값 반환

In [9]:
def add(a, b):
    return a + b

In [10]:
add(5.6, 2.1), add(4, 5)

(7.699999999999999, 9)

In [11]:
x = add(23, 45)
x

68

In [12]:
def is_ten(x):
    return x == 10

In [14]:
is_ten(10), is_ten(1), is_ten(0), is_ten(101//10)

(True, False, False, True)

In [17]:
def not_ten(x):
    if x == 10:
        return     
    else:
        print('It is not 10.')

In [20]:
not_ten(5)

It is not 10.

In [21]:
not_ten(101 // 10)

In [25]:
def not_ten(x):
    if x == 10:
        return   # return 하게 되면 그 밑을 더이상 실행하지 않고 원래 프로그램으로 돌아간다. 함수가 끝이 난다
    print('It is not 10.')

In [26]:
not_ten(5)

It is not 10.

In [27]:
not_ten(10)

## 29.4 여러개의 결과값 반환
- tuple unpacking으로 python에서만 가능하다

In [29]:
def add_sub(a, b):
    return a+b, a-b

In [31]:
x, y = add_sub(15, 7)
x, y

(22, 8)

## 29.5 함수의 호출 과정

In [ ]:
# 스택을 이용한다

## 연습문제
- 3자리수 정수 두개를 곱해서 나온 결과가 팔린드롬(Pallindrome)이 되도록 할때 가장 큰 숫자는?

In [38]:
def is_pallindrome(x):
    s = str(x)
    return s == s[::-1]

In [39]:
is_pallindrome(12345), is_pallindrome(9066609)

(False, True)

In [43]:
max_pal, m, n = 0, 0, 0
for i in range(100, 1000):
    for k in range(100, 1000):
        if is_pallindrome(i*k):
            if i*k > max_pal:
                max_pal = i*k 
                m = i
                n = k    

print(f'{m} x {n} = {max_pal}')

913 x 993 = 906609