Unit 30. 위치인수와 키워드 인수

## 30.1 위치 인수

In [ ]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [ ]:
print_numbers(10, 20, 30)

10
20
30

In [ ]:
x = [10, 20, 30]
print_numbers(*x)    # list unpacking

10
20
30

In [ ]:
# *x, *y - 리스트/튜플 언패킹
x, y = [10,20,30], (40,50,60)
print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

### 가변 인수 함수

In [ ]:
def print_numbers2(*args):
    for arg in args:
        print(arg)

In [ ]:
print_numbers2(10,20,30,40,50)

10
20
30
40
50

In [ ]:
print_numbers2(10)

10

### 고정인수와 가변인수가 섞여있을때

In [ ]:
def print_numbers3(a, *args):  # 고정인수가 먼저 나와야 한다
    print(a)
    print(args)

In [ ]:
print_numbers3(1, 10, 20)

1
(10, 20)

In [ ]:
print_numbers3(*x)

10
(20, 30)

In [ ]:
def print_numbers4(*args, a):
    print(args)
    print(a)

In [ ]:
# 고정 위치 인수가 가변 위치 인수보다 먼저 나와야 한다!
print_numbers4(*x)

TypeError: ignored

## 30.2 키워드 인수

In [28]:
def personal_info(name, age, addr):
    print('이름 : ', name)
    print('나이 : ', age)
    print('주소 : ', addr)

In [29]:
personal_info('홍길동', 30, '서울 강남구 도곡동')

이름 :  홍길동
나이 :  30
주소 :  서울 강남구 도곡동

In [30]:
personal_info(age=30, addr='서울 강남구 도곡동', name='홍길동')

이름 :  홍길동
나이 :  30
주소 :  서울 강남구 도곡동

## 30.3 키워드 인수와 딕셔너리 언팩킹

In [31]:
x = {'name':'홍길동', 'age':30, 'addr':'서울 강남구 도곡동'}

In [32]:
personal_info(**x)

이름 :  홍길동
나이 :  30
주소 :  서울 강남구 도곡동

In [33]:
# *x는 x의 키를 불러냄
personal_info(*x)

이름 :  name
나이 :  age
주소 :  addr

### 가변 키워드 인수

In [34]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key} : {value}')

In [35]:
personal_info2(**x)

name : 홍길동
age : 30
addr : 서울 강남구 도곡동

In [36]:
personal_info2(name='홍길동', age=30)

name : 홍길동
age : 30

### 고정 인수와 가변 키워드 인수

In [40]:
def personal_info3(name, **kwargs):  # 이것도 고정위치인수가 가변위치인수보다 먼저 와야 함
    print(name)
    print(kwargs)

In [41]:
x = {'name':'홍길동', 'age':30, 'addr':'서울 강남구 도곡동'}
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울 강남구 도곡동'}

### 위치 인수와 키워드 인수

In [44]:
def my_print(*args, **kwargs):
    print(*args, **kwargs)

In [45]:
my_print(10,20,30, sep=', ')

10, 20, 30

In [46]:
my_print(10,20,30,sep=', ', **x)

TypeError: ignored

## 30.4 매개변수의 초기값 지정

In [47]:
def personal_info4(name, age, addr='비공개'): # 초기값이 지정된 매개변수는 맨 마지막에 오도록 한다
    print('이름 : ', name)
    print('나이 : ', age)
    print('주소 : ', addr)

In [48]:
personal_info4('홍길동', 30)

이름 :  홍길동
나이 :  30
주소 :  비공개

In [49]:
personal_info4(**x)

이름 :  홍길동
나이 :  30
주소 :  서울 강남구 도곡동