# Unit 32. 람다 함수 - 익명(Anonymous)함수

In [1]:
def plus_ten(x):
    return x + 10

In [2]:
plus_ten(4)

14

In [4]:
plus_ten2 = lambda x : x + 10  # : 왼쪽은 매개변수, 오른쪽은 리턴값
plus_ten2(4)

14

In [6]:
(lambda x : x + 10)(4)   # 굳이 변수명을 지정할 필요가 없다

14

In [7]:
list(map(lambda x : int(x) + 10, input().split()))

2 5 10

[12, 15, 20]

In [8]:
def plus_ten(x):
    return int(x) + 10
list(map(plus_ten, input().split()))

2 5 10

[12, 15, 20]

In [9]:
list(map(lambda x : 2 ** int(x), input().split()))

2 5 10

[4, 32, 1024]

### 제약사항

In [11]:
# 람다함수에서 변수를 만들 수 없음
(lambda x : y = 10; x + y)(3)

SyntaxError: ignored

In [12]:
(lambda x, y : x + y)(3, 10)

13

### 조건부 함수
- 3항 연산자 elif는 사용할 수 없고 if가 나오면 반드시 그다음엔 else가 나와야 한다

In [15]:
# 리스트 a에서 3의 배수를 문자열로 변환
a = list(range(1,11))
list(map(lambda x : str(x) if x % 3 == 0 else x , a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [16]:
# 리스트 a에서 3의 배수는 문자열로 , 5의 배수는 실수로 변환
list(map(lambda x : str(x) if x % 3 == 0 else float(x) if x % 5 == 0 else x, a))

[1, 2, '3', 4, 5.0, '6', 7, 8, '9', 10.0]

### map에 여러개의 객체 넣기

In [18]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
list(map(lambda x, y : x * y, a, b))

[6, 14, 24, 36, 50]

### filter
- DataFrame에서 row에서 사용하지 실제로 lambda에서는 잘 안쓴다

In [19]:
a = list(range(1,11))
list(map(lambda x : 4 <= x < 8, a))

[False, False, False, True, True, True, True, False, False, False]

In [20]:
a = list(range(1,11))
list(filter(lambda x : 4 <= x < 8, a))

[4, 5, 6, 7]