# Unit 6. 변수와 입력

## 6.1 변수
- 영문 문자와 숫자를 사용할 수 있습니다.
- 대소문자를 구분합니다.
- 문자부터 시작해야 하며 숫자부터 시작하면 안  됩니다.
- _(밑줄 문자)로 시작할 수 있습니다.
- 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.
- 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

In [1]:
x = y = z = 10
x, y, z

(10, 10, 10)

In [2]:
del z
print(z)

NameError: ignored

In [5]:
# 파이썬에서는 Null의 의미로 None을 사용한다.
x = None # 아무것도 없다라는 의미
print(x)

None

In [4]:
x

## 6.2 변수 계산

In [6]:
a = 10
a = a + 10
a

20

In [8]:
a = 10
a += 10 # a = a + 10
a

20

In [9]:
sum, prod = 0, 1
for i in range(1,11):
  sum += i
  prod *= i
sum, prod

(55, 3628800)

In [11]:
-prod

-3628800

## 6.3 입력(input)

In [15]:
 x = input('1에서 10사이의 정수값> ')    # prompt

1에서 10까지의 정수값> 8

In [16]:
# 입력한 두 정수의 합
a = input('첫번째 정수> ') # return값이 string
b = input('두번째 정수>' )
a + b

첫번째 정수> 111
두번째 정수>234

'111234'

In [ ]:
a = int(input('첫번째 정수> '))
b =

In [17]:
# 입력한 두 정수의 합
a = input('첫번째 정수> ') # return값이 string
b = input('두번째 정수>' )
int(a) + int(b)

첫번째 정수> 111
두번째 정수>234

345

In [18]:
# 입력한 두 정수의 합
a = int(input('첫번째 정수> ')) # return값이 string
b = int(input('두번째 정수>' ))
a + b

첫번째 정수> 111
두번째 정수>234

345

## 6.4 입력값 두개

In [22]:
s = 'Hello, world!'
s.split()

['Hello,', 'world!']

In [24]:
a, b = s.split() # list unboxing, list unpacking
a, b

('Hello,', 'world!')

In [25]:
a, b, c = 'A quick brown'.split()
a, b, c

('A', 'quick', 'brown')

In [31]:
a, b = input("정수 두개 입력> ").split()

정수 두개 입력> 10 20

In [32]:
a = int(a)
b = int(b)
a + b

30

In [35]:
a, b = input("정수 두개 입력, comma로 구분하세요.> ").split(',')

정수 두개 입력, comma로 구분하세요.> 10,20

## map활용
- map(함수, 리스트) 리스트의 각각의 원소들에게 함수를 적용하고자 한다

In [36]:
a, b = map(int, [10.2, 11.8])
a, b

(10, 11)

In [38]:
a, b = map(int, input('정수 두개 입력> ').split()) # int는 함수, input('정수 두개 입력> ').split()는 리스트
a + b

정수 두개 입력> 10 20

30

In [39]:
import math
a, b = map(math.sqrt, [1,4])
a, b

(1.0, 2.0)