# Unit 6. 심사문제
- 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다.
- 평균 점수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).
- 단, 평균 점수를 출력할 때는 소수점 이하 자리는 버립니다(정수로 출력).

## 1)교과서 방법

In [4]:
kor, eng, mat, sci = map(int, input('국어, 영어, 수학, 과학 점수> ').split())
print(kor, eng, mat, sci)

78 56 90 49

In [5]:
(kor + eng + mat + sci) // 4, (kor + eng + mat + sci) / 4

(68, 68.25)

## 2) 리스트 이용

In [6]:
score = list(map(int, input('국어, 영어, 수학, 과학 점수> ').split()))
score

국어, 영어, 수학, 과학 점수> 99 91 99 89

[99, 91, 99, 89]

In [7]:
sum(score)

378

In [8]:
len(score)

4

In [9]:
sum(score) // len(score), sum(score) / len(score)

(94, 94.5)

## 3) Numpy 이용

In [10]:
import numpy as np
score = np.array(list(map(int, input('국어, 영어, 수학, 과학 점수> ').split())))
score

국어, 영어, 수학, 과학 점수> 99 98 100 96

array([ 99,  98, 100,  96])

In [11]:
int(np.mean(score)), np.mean(score)

(98, 98.25)

In [12]:
""" 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다.<br>
평균 점수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br>
단, 평균 점수를 출력할 때는 소수점 이하 자리는 버립니다(정수로 출력). """

' 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다.<br>\n평균 점수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br>\n단, 평균 점수를 출력할 때는 소수점 이하 자리는 버립니다(정수로 출력). '